*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  background: #1e1e1e;
  box-sizing: border-box;
}

nav{
  background: black;
  height: 80px;
  width: 100%;
}

label img{
  width: 14%;
  margin-left: 1%;
  height: 70px;
  margin-top: 5px;
}

label.logo{
  height: 70px;
  width: 100px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a:hover{
  border-bottom: 3px solid blue;
  color: grey;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a.hover{
  background: #1e1e1e;
  transition: .5s;
}


.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none
}

@media (max-width:790px) {
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a{
    font-size: 16px;
  }

  .contanier{
    display: flex;
    flex-direction: column;
  }

  .box,
  .inbox{
    width: 100%;
  }

  .box img{
    margin-left: 29%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .inbox h2{
    margin-left: 20%;
    font-size: 20px;
  }

  .inbox p{
    margin-left: 20%;
    color: white;
    font-size: 10px;
  }


}

@media (max-width:740px) {
  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    background: black;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
  }

  a:hover,a.active{
    background: none;
    color: blue;
  }

  #check:checked ~ ul{
    left: 0;
  }


  footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .to{
    text-align: center;
  }

  .ru{
    text-align: center;
  }

}

section{
  background: url(/img/cover.jpg);
  background-size: cover;
}

.contanier{
  width: 100%;
  background-size: cover;
}

.contanier::after{
  clear: both;
  display: table;
  content: '';
}

.rat{
  width: 100%;
  background: white;
}

.rat h2{
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
  border-bottom: 3px solid blue;
  font-size: 30px;
  color: grey;
}

.rat small{
  font-size: 30px;
}

.rat small i{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  color: white;
}

.rat p{
  width: 90%;
  margin-left: 5%;
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rat img{
  width: 60%;
  margin-left: 20%;
  height: 400px;
}

.box{
  width: 40%;
  float: left;
}

.box img{
  width: 90%;
  height: 300px;
  margin-left: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inbox{
  width: 60%;
  float: right;
}

.inbox h2{
  border-bottom: 2px solid lightblue;
  color: darkgrey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inbox p{
  margin-left: 5%;
  margin-top: 40px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

footer{
  width: 100%;
  background: black;
}

footer::after{
  clear: both;
  display: table;
  content: '';
}


.rit{
  width: 35%;
  float: left;
}

.rit li{
  visibility: visible;
  display: inline-block;
  width: 20%;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 3%;
  text-align: center;
}

.rit li a{
  font-size: 40px;
}

.rit li a i{
  color:blue;
  border: 2px solid black;
  border-radius: 8px;
}

.rit li a i:hover{
  box-shadow: 0 0 20px blue;
  color:blue;
}


.kick{
  width: 65%;
  float: right;
}

.to{
  width: 50%;
  float: left;
}

.to p{
  color: white;
  text-align: left;
}

.to li{
  visibility: visible;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-align: left;
}

.to li a{
  text-decoration: none;
  font-size: 20px;
  color: grey;
}

.to li a:hover{
  text-decoration: underline;
  color: darkgrey;
}

.ru{
  width: 50%;
  float: right;
}

.ru li{
  visibility: visible;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-align: left;
}

.ru li a{
  text-decoration: none;
  font-size: 20px;
  color: grey;
}

.ru li a:hover{
  text-decoration: underline;
  color: darkgrey;
}

.ru p{
  color: white;
  text-align: left;
}
