*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  background: #1e1e1e;
}

header{
  width: 100%;
  height: 150px;
  background: black;
}

header::after{
  content: '';
  clear: both;
  display: table;
}

.in{
  width: 30%;
  height: 150px;
  float: left;
}

.in img{
  width: 50%;
  height: 110px;
  margin-left: 25%;
  margin-top: 20px;
}

.out{
    width: 70%;
    height: 150px;
    float: right;
}

.out nav{

}

.out nav ul{

}

.out nav ul li{
  width: 13%;
  display: inline-block;
  text-align: center;
  margin-left: 2%;
  border-bottom: 2px solid black;
  margin-top: 70px;
}

.out nav ul li:hover{
  border-bottom: 2px solid darkblue;
}

.out nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

a:active,a:hover{
  background: black;
  transition: .5s;
}

.out nav ul li a:hover{
  color: skyblue;
}

.checkbtn{
  font-size: 40px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width:952px) {
  .in img{
    padding-left: 50px;
  }
}

@media (max-width:858px) {
  .checkbtn{
    display: block;
  }

  .out nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .out nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .out nav ul li a{
    font-size: 20px;
  }

  a:hover,a:active{
    transition: .5s;
    background: none;
  }

  #check:checked ~ .checkbtn {
    left: 247px;
  }

  .box{
    width: 100%;
  }

  .box img{
    width: 100%;
  }

  .inbox{
    width: 100%;
  }


}


.contanier{
  width: 100%;
  background-size: cover;
}

.contanier::after{
  clear: both;
  display: table;
  content: '';
}


.box{
  width: 35%;
  float: left;
}

.box img{
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inbox{
  width: 65%;
  float: right;
}

.inbox h2{
  border-bottom: 2px solid lightblue;
  color: darkgrey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inbox p{
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

footer{
  width: 100%;
  background: black;
}

footer::after{
  clear: both;
  display: table;
  content: '';
}


.rit{
  width: 35%;
  float: left;
}

.rit ul{

}

.rit ul li{
  display: inline-block;
  width: 40%;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 5%;
  text-align: center;
}

.rit ul li a{
  font-size: 60px;
}

.rit ul li a i{
  color:blue;
  border: 2px solid black;
  border-radius: 8px;
}

.rit ul li a i:hover{
  box-shadow: 0 0 20px blue;
  color:blue;
  border-top: 2px solid darkblue;
  border-bottom: 2px solid blue;
  border-left: 2px solid darkblue;
  border-right: 2px solid blue;
}


.kick{
  width: 65%;
  float: right;
}

.to{
  width: 50%;
  float: left;
}

.to ul{

}

.to ul li{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.to ul li a{
  text-decoration: none;
  font-size: 20px;
  color: grey;
}

.to ul li a:hover{
  text-decoration: underline;
  color: darkgrey;
}

.ru{
  width: 50%;
  float: right;
}

.ru ul li{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-align: left;
}

.ru ul li a{
  text-decoration: none;
  font-size: 20px;
  color: grey;
}

.ru ul li a:hover{
  text-decoration: underline;
  color: darkgrey;
}

.ru p{
  color: white;

}
